/* MEDIA QUERIES */
@media screen and (min-width:320px)  {
    div.example {
        font-size: 30px;
        color: #f73693;
    }
    div.contactform{
        width: 75%;
        align-self: center;
    }
    div.accordion{
        width: 80%;
    }
}

@media (min-width:481px)  { 
    div.example {
    font-size: 80px;
    color: #50083B;
    }
}

@media (min-width:641px)  {
    div.example {
    font-size: 100px;
    color: #ffa1dd;
    }
    div.contactform{
        width: 50%;
    }
    div.accordion{
        width: 75%;
    }
}

@media (min-width:961px)  { 
  div.example{
    font-size: 115px;
    color: #C4C4C4;
  }
    }

@media (min-width:1025px) { 

    }

@media (min-width:1281px) { 

    }
/* END MEDIA QUERIES */

::selection{
	background-color: #ffa1dd;
  color: white;
}


.form-control:focus {
    border-color: #d3b6b6;
    box-shadow: 0px 1px 1px rgba(211, 182, 182, 0.5) inset, 0px 0px 8px rgba(211, 182, 182, 0.5);
}

/* BEGINNING OF NAVBAR */
/* END OF NAVBAR */
/* BEGINNING OF ACCORDION */

.accordion .accordion-item {
    background-color: #fcc7b5;
}
.accordion .accordion-button {
    background-color: #bb5f5f;
}
