/* MEDIA QUERIES */
@media screen and (min-width:320px)  {
    div.accordion{
        width: 80%;
    }
}

@media (min-width:481px)  { 

}

@media screen and (max-width:641px)  {
    div.images{
        visibility: hidden;
    }
    div.col-8{
        width: 700px;
        margin: auto;
    }
    div.col-2{
       display: none;
    }
}

@media (min-width:961px)  { 
    div.images{
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.col-6{
        width: 600px;
        margin: auto;
    }
}

@media (min-width:1025px) { 

    }

@media (min-width:1281px) { 

    }
/* END MEDIA QUERIES */

::selection{
	background-color: #ffa1dd;
  color: white;
}

/* NAVBAR */

.btn:active{
    background: #874a4a;
}

/* JUMBOTRON */

.jumbotron{
    background-color: #5b5b5b;
    background-image: linear-gradient(45.34deg, #874a4a 5.66%, #5b5b5b 94.35%);
  }

.form-control:focus {
    border-color: #d3b6b6;
    box-shadow: 0px 1px 1px rgba(211, 182, 182, 0.5) inset, 0px 0px 8px rgba(211, 182, 182, 0.5);
}

/* BEGINNING OF NAVBAR */
/* END OF NAVBAR */
/* BEGINNING OF ACCORDION */

.accordion .accordion-item {
    background-color: #fcc7b5;
}
.accordion .accordion-button {
    background-color: #bb5f5f;
    font-size: 22px;
}
