/* MEDIA QUERIES */
@media screen and (min-width:320px)  {
    div.example {
        font-size: 30px;
        color: #f73693;
    }
    div.contactform{
        width: 75%;
        align-self: center;
    }
    }

@media (min-width:481px)  { 
  div.example {
    font-size: 80px;
    color: #50083B;
  }
    }

@media (min-width:641px)  {
  div.example {
    font-size: 100px;
    color: #ffa1dd;
  }
    div.contactform{
        width: 50%;
    }
    }

@media (min-width:961px)  { 
  div.example{
    font-size: 115px;
    color: #C4C4C4;
  }
    }

@media (min-width:1025px) { 

    }

@media (min-width:1281px) { 

    }
/* END MEDIA QUERIES */

::selection{
	background-color: #ffa1dd;
  color: white;
}

/* NAVBAR */

.btn:active{
  background: #874a4a;
}

/* END NAVABR */
/* BEGINNING OF JUMBOTRON */

.jumbotron{
  background-color: #5b5b5b;
  background-image: linear-gradient(45.34deg, #874a4a 5.66%, #5b5b5b 94.35%);
}

/* END OF JUMBOTRON */
/* BEGINNING OF CONTACT FORM */
